<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456337366080-dsq01mlhmt29nk4l9fuaurknk7bhqrod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456337366080-dsq01mlhmt29nk4l9fuaurknk7bhqrod</string>
	<key>API_KEY</key>
	<string>AIzaSyC8_r0q9P-nov6-r4J4t-NCv9wdM6wE9j0</string>
	<key>GCM_SENDER_ID</key>
	<string>456337366080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.textbookexchange</string>
	<key>PROJECT_ID</key>
	<string>lakeside-textbook-exchange</string>
	<key>STORAGE_BUCKET</key>
	<string>lakeside-textbook-exchange.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456337366080:ios:3fec4086133bc9626293a5</string>
</dict>
</plist>